@import "./fonts.sass";
@import "./common.scss";

main {
      margin-top: 156px;
      .offer-help {
            display: flex;
            section {
                  margin-left: 120px;
                  margin-right: 109px;
                  h1 {
                        @include font(TT Norms-Bold, normal, normal, 52px, 124%, null);
                        @include fontcolor;
                  }
                  span {
                        display: block;
                        width: 90%;
                        @include font(TT Norms, normal, 500, 20px, 134%, null);
                        color: #304b93;
                        margin-top: 22px;
                        margin-right: 22px;
                        .free {
                              display: inline;
                              color: #f23b53;
                              margin-right: 0;
                        }
                  }
                  span:first-child {
                        margin-top: 0;
                  }
                  button {
                        @include buttonInNKO();
                  }
            }
            img {
                  margin-right: 78px;
            }
      }
      .who-we-are {
            display: block;
            width: 100%;
            h1 {
                  @include font(TT Norms-Bold, normal, normal, 52px, 124%, null);
                  @include fontcolor;
                  text-align: center;
                  margin-top: 122px;
            }
            .container {
                  display: flex;
                  padding-top: 6px;
                  margin-left: 120px;
                  margin-right: 205px;
                  section {
                        margin-right: 103px;
                        span {
                              .doctors {
                                    display: inline;
                              }
                              display: block;
                              margin-top: 48px;
                              @include font(TT Norms, normal, normal, 24px, 158%, null);
                              color: #202642;
                        }
                        span:first-child {
                              margin-top: 0;
                        }
                        button {
                              @include buttonInNKO();
                              margin-top: 48px;
                        }
                  }
                  .right {
                        display: flex;
                        flex-direction: column;
                        .asiyat,
                        .hiderlezov,
                        .emirbekov,
                        .abdullaeva,
                        .dzarulla,
                        .gorin {
                              background-size: cover;
                              background-repeat: no-repeat;
                        }
                        .asiyat {
                              background-image: url(./img/Doctors/asiyat.jpg);
                        }
                        .hiderlezov {
                              background-image: url(./img/Doctors/hiderlezov.jpg);
                        }
                        .emirbekov {
                              background-image: url(./img/Doctors/emirbelov.jpg);
                        }
                        .abdullaeva {
                              background-image: url(./img/Doctors/abdulaeva.jpg);
                        }
                        .dzarulla {
                              background-image: url(./img/Doctors/djarulla.jpg);
                        }
                        .gorin {
                              background-image: url(./img/Doctors/gorin.jpg);
                        }
                        span {
                              text-align: center;
                              @include font(TT Norms-Bold, normal, normal, 20px, 114%, null);
                              @include fontcolor;
                        }
                        .tagrow {
                              display: none;
                              .chirurg {
                                    color: #367bf5;
                              }
                              span {
                                    text-align: center;
                                    font: normal 16px/124% Inter;
                                    margin-left: 16px;
                                    color: #304b93;
                              }
                              span:first-child {
                                    margin-left: initial;
                              }
                        }
                        .row {
                              display: flex;
                              flex: 1;
                              .card {
                                    flex: 1;
                                    margin-left: 67px;
                                    margin-top: 32px;
                                    .img {
                                          display: block;
                                          width: 180px;
                                          height: 116px;
                                          border-radius: 12px;
                                    }
                                    span {
                                          display: block;
                                    }
                                    .name {
                                          @include font(Inter, normal, 500, 16px, 132%, 0.005em);
                                          color: #0b1635;
                                          margin-top: 12px;
                                    }
                                    .position {
                                          @include font(Inter, normal, normal, 15px, 138%, 0.005em);
                                          color: #f23b53;
                                          margin-top: 4px;
                                    }
                              }
                              .card:nth-child(odd) {
                                    margin-left: 0;
                              }
                        }
                  }
            }
      }
      .how-we-work {
            background: #f5f8fa;
            margin-top: 48px;
            h1 {
                  @include title(0);
                  padding-top: 72px;
                  margin-bottom: 20px;
            }
            .undertitle {
                  font: normal normal 18px/166% TT Norms;
                  display: block;
                  text-align: center;
                  margin: 0 323px 0;
            }
            .howhelp {
                  display: flex;
                  justify-content: center;
                  margin: 36px 182px 0;
                  .video {
                        iframe {
                              border-radius: 4px;
                              border: unset;
                        }
                        button {
                              display: block;
                              @include btn();
                              margin-top: 40px;
                              .tri {
                                    @include triangle;
                              }
                        }
                        .undervideo {
                              display: block;
                              font: normal normal 18px/134% Inter;
                              color: #304b93;
                              width: 516px;
                              margin-top: 30px;
                              .free {
                                    @include fontcolor;
                              }
                        }
                  }
                  .right-list {
                        h4 {
                              font: normal 500 24px/138% Inter;
                              margin: 0 0 24px 56px;
                        }
                        .description {
                              @include description();
                        }
                  }
                  button {
                        display: none;
                  }
            }
      }
      .results {
            background: #f5f8fa;
            h1 {
                  @include title(0);
                  padding-top: 80px;
                  margin-bottom: 20px;
            }
            .undertitle {
                  font: normal normal 18px/166% TT Norms;
                  display: block;
                  text-align: center;
                  margin: 0 323px 0;
            }
            .since {
                  display: none;
                  font: normal 500 18px/138% TT Norms;
                  color: #202642;
                  text-align: center;
                  margin-top: 24px;
                  span {
                        color: #367bf5;
                  }
            }
            .years {
                  display: flex;
                  justify-content: center;
                  margin: 38px 120px 0;
                  div {
                        margin-left: 64px;
                  }
                  div:first-child {
                        margin-left: unset;
                  }
            }
            .numbs {
                  @include mobslider();
                  display: none;
            }
            .after-numbersmob {
                  @include after-numbersmob();
            }
      }
      .offer-sec {
            background: #f5f8fa;
            padding-bottom: 48px;
            h1 {
                  @include title(0);
                  padding-top: 112px;
                  margin-bottom: 20px;
            }
            .undertitle {
                  font: normal normal 18px/166% TT Norms;
                  display: block;
                  text-align: center;
                  margin: 0 366px 0;
            }
            .benefits {
                  display: block;
                  font: normal bold 24px/146% TT Norms-Bold;
                  color: #367bf5;
                  text-align: center;
                  margin-top: 40px;
            }
            .stars-row {
                  display: none;
                  justify-content: center;
                  margin: 13px 0;
                  .redstar {
                        @include redstar();
                        flex: 0 0 8px;
                        height: 8px;
                        background-size: cover;
                        .redpoint {
                              @include redpoint();
                              width: 2px;
                              height: 2px;
                        }
                  }
            }
            .stars-row:first-of-type {
                  margin-top: 41px;
            }

            .offer-row {
                  display: flex;
                  margin: 20px 130px 0;
                  .item-offer {
                        width: 580px;
                        height: 112px;
                        background: #ffffff;
                        border: 1px solid rgba(0, 64, 148, 0.25);
                        border-radius: 8px;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        span {
                              display: flex;
                              margin: 0 12px 0 26px;
                              font: normal normal 18px/136% TT Norms;
                              align-items: center;
                        }
                  }
                  .stars-row {
                        display: none;
                        justify-content: center;
                        margin: 13px 0;
                        .redstar {
                              @include redstar();
                              flex: 0 0 8px;
                              height: 8px;
                              background-size: cover;
                              .redpoint {
                                    @include redpoint();
                                    width: 2px;
                                    height: 2px;
                              }
                        }
                  }
                  .item-offer:last-child {
                        margin-left: 20px;
                  }
            }
            button {
                  display: block;
                  position: relative;
                  padding: 17px 21px;
                  margin: 48px auto 0;
                  background: #367bf5;
                  color: white;
                  border: unset;
                  border-radius: 6px;
                  font: bold 18px/134% RT Mono;
                  .tri {
                        @include triangle;
                  }
            }
      }
      .partners-title {
            h1 {
                  @include title(0);
                  padding-top: 48px;
                  margin: 0 184px 48px;
            }
            h1:last-child {
                  display: none;
            }
      }
      .partnersWrappeGr {
            @include partners();
            .logoNadejda,
            .logoHome,
            .logoIhsan,
            .logoKdl,
            .logoLekki,
            .logoLife,
            .logoSirat,
            .logoZakyat {
                  background-size: cover;
                  background-position-x: no-repeat;
                  background-position: center;
                  background-color: #fff;
            }

            .logoNadejda {
                  background-image: url(./img/fundslogo/nadejda_logo.jpeg);
            }
            .logoHome {
                  background-image: url(./img/fundslogo/home_logo.png);
            }
            .logoIhsan {
                  background-image: url(./img/fundslogo/ihsan_logo.jpg);
            }
            .logoKdl {
                  background-image: url(./img/fundslogo/kdl_logo.jpg);
            }
            .logoLekki {
                  background-image: url(./img/fundslogo/leki_logo.jpg);
            }
            .logoLife {
                  background-image: url(./img/fundslogo/life_logo.jpg);
            }
            .logoSirat {
                  background-image: url(./img/fundslogo/sirat_logo.jpg);
            }
            .logoZakyat {
                  background-image: url(./img/fundslogo/zakyat_logo.png);
            }
      }
      .nko-title {
            @include title(0);
            padding-top: 32px;
            margin: 0 361px 48px;
      }
      .nko {
            @include nko();
      }
      .nko-slides {
            display: none;
            .swiper-container {
                  width: 100%;
                  height: 420px;
                  margin-top: 32px;
                  .nko-worker {
                        @include nko-worker(0);
                        iframe {
                              width: 95%;
                              display: block;
                        }
                        .nko-worker-description {
                              display: block;
                              width: 95%;
                        }
                  }
                  .swiper-pagination {
                        top: 410px;
                  }
            }
      }
      .become-sec {
            .how-become-title {
                  @include title(0);
                  margin: 74px 399px 20px;
            }
            .under-become {
                  font: normal normal 22px/124% TT Norms;
                  color: #202642;
                  display: block;
                  text-align: center;
            }
            .become-container {
                  display: flex;
                  margin: 40px 195px 0 223px;
                  overflow: hidden;
                  .form-container {
                        background: #f5f8fa;
                        border-radius: 8px;
                        padding: 0 0 0 28px;
                        margin-left: 64px;
                        height: 352px;
                        width: 620px;
                        .form-row {
                              display: flex;
                              margin-right: 20px;
                              margin-top: 30px;
                              input {
                                    display: block;
                                    padding: 14px 0 14px 18px;
                                    background: #f5f8fa;
                                    border: 1px solid rgba(0, 64, 148, 0.3);
                                    border-radius: 8px;
                                    flex: 1;
                              }
                              ::placeholder {
                                    color: #004094;
                                    @include font(Inter, normal, normal, 14px, 140%, 0.005em);
                              }
                              input:last-child {
                                    margin-left: 20px;
                              }
                        }
                        .form-row:first-child {
                              margin-top: 48px;
                        }
                        .agreement {
                              display: block;
                              justify-content: start;
                              margin-top: 10px;
                              padding-bottom: 20px;
                              .agreement-text {
                                    @include font(Inter, normal, 500, 12px, 136%, null);
                                    color: #0b1635;
                                    margin-left: 7px;
                                    span {
                                          color: #004094;
                                    }
                              }
                        }
                        .warning {
                              display: none;
                        }
                        button {
                              display: block;
                              @include btn();
                              background: #304b93;
                              border-radius: 6px;
                              margin: 40px 0 0 0;
                              padding: 12px 40px;
                              .tri {
                                    @include triangle;
                              }
                        }
                  }
            }
      }

      .all-answers {
            @include allanswers();
            .title:last-of-type {
                  display: none;
            }
            margin-top: 60px;
      }
}

@media screen and(min-width:1500px) {
      body {
            width: 1440px;
            margin: 0 auto 0;
      }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      body {
            width: 100%;
      }
      main {
            margin-top: 104px;
            .offer-help {
                  display: flex;
                  flex-wrap: wrap;
                  section {
                        order: 2;
                        margin-left: initial;
                        margin-right: initial;
                        .span-marg {
                              margin: 18px 34px 0;
                        }
                        .span-sec-marg {
                              margin: 16px 18px 0;
                        }
                        h1 {
                              @include font(TT Norms-Bold, normal, normal, 24px, 132%, null);
                              @include fontcolor;
                              margin: 40px 42px 0;
                              text-align: center;
                        }
                        span {
                              display: block;
                              width: initial;
                              text-align: center;
                              @include font(TT Norms, normal, 500, 16px, 134%, null);
                              color: #304b93;
                              .free {
                                    display: inline;
                                    color: #f23b53;
                                    margin-right: 0;
                              }
                        }

                        button {
                              @include buttonInNKO();
                              display: block;
                              width: calc(100% - 136px);
                              padding: 14px 26px;
                              margin: 34px 68px 0;
                              span {
                                    font: bold 16px/134% RT Mono;
                              }
                        }
                  }
                  img {
                        order: 1;
                        margin-right: initial;
                        display: block;
                        width: calc(100% - 36px);
                        margin: 0 auto 0;
                  }
            }
            .who-we-are {
                  display: block;
                  width: 100%;
                  h1 {
                        @include font(TT Norms-Bold, normal, normal, 34px, 138%, null);
                        @include fontcolor;
                        text-align: center;
                        margin-top: 71px;
                        margin-bottom: 18px;
                  }
                  .container {
                        display: flex;
                        padding-top: initial;
                        margin-left: initial;
                        margin-right: initial;
                        flex-wrap: wrap;
                        section {
                              margin-right: initial;
                              span:first-child {
                                    margin: 0 29px;
                                    text-align: center;
                              }

                              span {
                                    .doctors {
                                          display: inline;
                                          color: #f23b53;
                                          margin: 0;
                                    }
                                    display: block;
                                    margin: 12px 20px;
                                    @include font(TT Norms, normal, normal, 16px, 158%, null);
                                    color: #202642;
                                    text-align: center;
                              }

                              button {
                                    display: none;
                              }
                        }
                        .right {
                              display: flex;
                              flex-direction: column;
                              width: 100%;
                              span {
                                    text-align: center;
                                    @include font(TT Norms-Bold, normal, normal, 20px, 114%, null);
                                    @include fontcolor;
                                    margin-top: 32px;
                              }
                              .row {
                                    display: none;
                              }
                              .row-marg {
                                    margin: 18px auto 0;
                              }
                              .sec-rowmarg {
                                    margin: 14px auto 0;
                              }
                              .third-rowmarg {
                                    margin: 14px auto 0;
                              }
                              .fourth-rowmarg {
                                    margin: 14px auto 0;
                              }
                              .tagrow {
                                    display: table;
                              }
                        }
                  }
            }
            .how-we-work {
                  background: #f5f8fa;
                  margin-top: 58px;
                  h1 {
                        @include title(0);
                        font: normal 34px/124% TT Norms-Bold;
                        padding-top: 40px;
                        margin-bottom: 20px;
                  }
                  .undertitle {
                        display: none;
                  }
                  .howhelp {
                        flex-wrap: wrap;
                        margin: 0;

                        .video {
                              iframe {
                                    display: block;
                                    height: 196px;
                                    width: calc(100% - 16px);
                                    border-radius: 4px;
                                    border: unset;
                                    margin: 40px auto 0;
                              }
                              button {
                                    display: none;
                              }
                              .undervideo {
                                    display: block;
                                    font: normal normal 16px/184% Inter;
                                    color: #304b93;
                                    width: initial;
                                    margin: 24px 10px 0;
                                    text-align: center;
                                    .free {
                                          @include fontcolor;
                                    }
                              }
                        }
                        .right-list {
                              h4 {
                                    display: none;
                              }
                              .description {
                                    @include description();
                                    padding: 0;
                                    margin-top: 36px;
                                    li {
                                          list-style: none;
                                          margin-top: 20px;
                                    }
                                    li:first-child {
                                          margin-top: unset;
                                    }
                                    .undernumslide {
                                          @include undernumslide();
                                          .descr {
                                                @include descr();
                                                margin-left: 12px;
                                                span {
                                                      margin-right: 8px;
                                                }

                                                .helpdescr {
                                                      margin-top: 8px;
                                                }
                                          }
                                    }
                              }
                              button {
                                    @include buttonInNKO();
                                    padding: 16px 20px;
                                    span {
                                          font: normal bold 18px/134% Rt Mono;
                                    }
                                    display: block;
                                    margin: 48px auto 0;
                                    .tri {
                                          @include triangle;
                                    }
                              }
                        }
                  }
            }
            .results {
                  background: initial;
                  h1 {
                        @include title(0);
                        font: normal normal 34px/124% TT Norms-Bold;
                        padding-top: 71px;
                        margin: 0 13px 0 25px;
                  }
                  .undertitle {
                        display: none;
                  }
                  .since {
                        display: block;
                  }
                  .years {
                        display: none;
                  }
                  .numbs {
                        @include mobslider();
                  }
                  .after-numbersmob {
                        display: block;
                        padding: unset;
                        margin: 35px 64px 0 16px;
                        li {
                              span {
                                    .life-hearts {
                                          color: #f23b53;
                                    }
                              }
                        }
                  }
            }
            .offer-sec {
                  background: initial;
                  padding-bottom: 48px;
                  h1 {
                        @include title(0);
                        font: normal bold 34px/124% TT Norms-Bold;
                        padding-top: 80px;
                        margin-bottom: 20px;
                  }
                  .undertitle {
                        font: normal normal 16px/134% TT Norms;
                        display: block;
                        text-align: center;
                        margin: 0 12px 0;
                  }
                  .benefits {
                        display: none;
                  }

                  .stars-row {
                        display: flex;
                  }

                  .offer-row {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin: 0px 8px 0;

                        .item-offer {
                              width: 100%;
                              height: initial;
                              background: #ffffff;
                              border: 1px solid rgba(0, 64, 148, 0.25);
                              border-radius: 8px;
                              align-items: center;
                              justify-content: center;
                              display: flex;
                              span {
                                    display: flex;
                                    margin: 10px 12px;
                                    font: normal normal 15px/134% TT Norms;
                                    text-align: center;
                              }
                        }
                        .stars-row {
                              display: flex;
                        }
                        .item-offer:last-child {
                              margin-left: 0px;
                        }
                  }
                  button {
                        padding: 16px 20px;
                        span {
                              font: normal bold 18px/134% Rt Mono;
                        }
                        display: block;
                        margin: 48px auto 0;
                        .tri {
                              @include triangle;
                        }
                  }
            }
            .partners-title {
                  h1:first-child {
                        display: none;
                  }
                  h1:last-child {
                        display: block;
                  }
                  h1 {
                        font: normal bold 34px/132% TT Norms-Bold;
                        padding-top: 40px;
                        margin: 0px 28px 0px;
                  }
            }
            .partnersWrappeGr {
                  margin: 24px 12px 0;
                  grid-template-columns: auto auto;
                  gap: 12px;
                  .partnersItemGr {
                        font-size: unset;
                        flex-basis: 34%;
                        width: 162px;
                        height: 140px;
                        padding: 0;
                  }
            }
            .nko-title {
                  @include title(0);
                  font: normal bold 34px/132% TT Norms-Bold;
                  padding-top: 72px;
                  margin: 0 12px 32px;
            }
            .nko {
                  display: none;
            }

            .nko-slides {
                  display: block;
            }
            .become-sec {
                  background: #f5f8fa;
                  overflow: hidden;
                  margin-top: 45px;
                  .how-become-title {
                        @include title(0);
                        font: normal bold 34px/132% TT Norms-Bold;
                        margin: 48px auto 0;
                  }
                  .under-become {
                        font-size: 20px;
                        margin: 12px 13px 0;
                  }
                  .become-container {
                        float: wrap;
                        margin: 0;
                        img {
                              display: none;
                        }
                        .form-container {
                              background: #f5f8fa;
                              border-radius: 8px;
                              padding: 0;
                              margin-left: 0px;
                              height: initial;
                              width: 100%;
                              .form-row {
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin: 16px 12px 0;
                                    input {
                                          display: block;
                                          padding: 22px 0 22px 24px;
                                          background: #f5f8fa;
                                          border: 1px solid rgba(0, 64, 148, 0.3);
                                          border-radius: 8px;
                                          flex: 1;
                                          margin-top: 16px;
                                    }
                                    ::placeholder {
                                          color: #004094;
                                          @include font(Inter, normal, normal, 14px, 140%, 0.005em);
                                    }
                                    input:last-child {
                                          margin-left: 0px;
                                    }
                                    input:first-child {
                                          margin-top: 0px;
                                    }
                              }
                              .form-row:first-child {
                                    margin-top: 40px;
                              }
                              .agreement {
                                    display: block;
                                    justify-content: start;
                                    margin-top: 10px;
                                    padding-bottom: 20px;

                                    .agreement-text {
                                          @include font(Inter, normal, 500, 12px, 136%, null);
                                          color: #0b1635;
                                          margin-left: 7px;
                                          span {
                                                color: #004094;
                                          }
                                    }
                              }

                              button {
                                    display: block;
                                    @include btn();
                                    background: #304b93;
                                    border-radius: 6px;
                                    margin: 40px 12px 0;
                                    padding: 12px 40px;
                                    width: calc(100% - 24px);
                                    background: #367bf5;
                                    .tri {
                                          @include triangle;
                                    }
                              }
                              .agreement {
                                    display: block;
                                    justify-content: start;
                                    margin: 16px 106 0 12px;
                                    padding-bottom: 20px;
                                    .agreement-text {
                                          @include font(Inter, normal, 500, 12px, 136%, null);
                                          color: #0b1635;
                                          margin-left: 7px;
                                          span {
                                                color: #004094;
                                          }
                                    }
                              }
                        }
                  }
            }
            .all-answers {
                  margin-top: 0;
                  .title {
                        margin-top: 72px;
                        font: normal bold 34px/138% TT Norms-Bold;
                  }
                  .title:first-of-type {
                        display: none;
                  }
                  .title:last-of-type {
                        display: block;
                  }
                  .answers {
                        margin-bottom: 70px;
                        .answers-list {
                              margin: 4px 0 0 0;
                              .qa {
                                    .plus {
                                          border: initial;
                                          img {
                                                width: 14px;
                                                height: 14px;
                                          }
                                    }
                              }
                        }
                        .answers-list:first-child {
                              margin: 0;
                        }
                  }
            }
            .anyQstnsBlock {
                  margin-top: 0px;
            }
      }
}
